<!DOCTYPE html>


<html lang="en">
    <head>
        <link href="static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <title>Thoth | Herramienta virtual de Lectura</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="icon" href="thoth.png">
    </head>


     <body>
        <!--Navigation Bar new-->
        <nav class="navbar navbar-expand-lg navbar-light navbar-style sticky-top" role="navigation">
                <div class="container">
                    <a class="navbar-brand" href="{{url_for('index')}}" ><h1 style="font-weight:bold;font-size:200%;font-family:cambria">Thoth <img src="static/thoth.png" class="img-fluid" style="max-width:40px;height:auto" alt=""></h1></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="row">
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active align-self-center">
                                    <form action="/evaluate">
                                      <input type="submit" class="btn" value="Evalúate" style="background-color:black;color:white;font-size:22px" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    </form>
                                </li>
                                <li class="nav-item align-self-center">
                                    <a class="nav-link" style="color:black;font-size:20px" href="{{url_for('recursos')}}" href="#">Recursos Literarios</a>
                                </li>
                                <li class="nav-item align-self-center">
                                    <a class="nav-link" style="color:black;font-size:20px" href="{{url_for('quienes_somos')}}" href="#">Quienes Somos</a>
                                </li>
                                <li class="nav-item align-self-center">
                                    <a class="nav-link" style="color:black;font-size:20px" href="{{url_for('contacto')}}" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

        <div class="container" style="margin-top:70px">
            <div class="row justify-content-center">
                <div class="col-sm-8 mx-auto">
              <h1 class="mb-3"style="font-size:250%">Deseas contribuir al desarrollo del incentivo a la lectura?</h1>
              <h2 lass="mb-5" style="font-size:150%">Eres bienvenido a enviar tu aporte. </h2>
                </div>
            </div>


          <div class="container mb-5" style="margin-top:70px;margin-bottom:20px">
            <div class="card mb-4 mx-auto" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="static/logo_usb.png" class="img-fluid" style="max-width:100%;height:auto" alt="USB">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Universidad Simón Bolívar</h5>
                    <p class="card-text"><small class="text-muted">Pronta apertura a recepciones</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--Banner-->
        <div class="container-fluid fixed-bottom" style="background-color:black;height:50px">
          <div class="row justify-content-end">
            <p class="pr-5"style="color:white;font-size:100%">Thoth &#169 2021</p>
          </div>

        </div>

        </body>



</html>